body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#left_side a:hover {
    filter: invert(0.5);
}

#footer a img:hover {
    filter: invert(0.3);
}

#nav {
    position: sticky;
    display: flex;
    top: 0;
    list-style-type: none;
    background-color: rgb(60, 35, 252);
    width: 100%;
    height: 48px;
    box-shadow: 3px 3px 10px gray;
    flex-shrink: 0;
}

#nav a {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 14px 0;
}

#nav #img {
    margin: 12px;
    padding: 0 24px;
}

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 60px;  
    flex-grow: 1;
    overflow: hidden;
    margin-left: 36px;
    margin-right: 36px;
}

#left_side {
    margin-top: 48px;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    overflow-y: auto;
}

#left_side a {
    margin-bottom: 12px;
    text-decoration: none;
    color: black;
}

#left_side a#tut1 {
    font-weight: bold;
}

#right_side {
    display: inline-flex;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 32px;
    flex-direction: column;
    min-height: 0;
}

#right_side #tutorial1 {
    overflow-y: auto;
    flex-grow: 1;
    overflow-x: hidden;
}

#right_side #title {
    display: grid; 
    grid-template-columns: 6fr 2fr;
    align-items: center;
    height: 150;
}

#right_side #title button {
    height: auto;
    background-color: #e7e7e7; 
    color: black;
    border: none;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
}

#right_side #title button:hover {
    background-color: #36353543; 
    color: black;
    cursor: pointer;
}

#right_side h2 {
    text-decoration-line: underline;
}

#right_side p {
    font-size: 32px;
}

#right_side #desc{
    font-size: 18px;
}

#right_side #sub {
    font-size: 20px;
    text-decoration: underline;
}

#right_side #sub_bold {
    font-size: 20px;
    font-weight: bold;
}

#right_side #code {
    background-color: lightgray;
    padding: 20px;
    font-size: 18px;
}

#right_side #components {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
}

#right_side ol li{
    font-size: 18px;
    padding: 10px 10px 10px 10px;
}

#right_side ul li{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

#right_side tr img {
    object-fit: contain;
    width: 300;
    height: 300;
    display: block; 
}

#right_side td, #right_side th {
    width: 50%;
}

#driver th, #driver td {
    width: 33%;
    padding: 10px;
}

#right_side #pins li{
    font-weight: normal;
}

#right_side table, #right_side td, #right_side th {
    border: 1px solid black;
    border-collapse: collapse;
}

#right_side #caption {
    display: block; 
    text-align: center;
    margin: 10px 0 10px 0;
}

#right_side #wel, #right_side #tutorial2 {
    display: none;
}

#right_side table {
    width: 100%;
}

#right_side #esp, #esp td{
    border-collapse: collapse;
    border: none;
}

#right_side #esp img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#right_side #bluetooth {
    border-collapse: collapse;
    border: none;
}

#right_side #bluetooth td {
    width: 20%;
}

#right_side #bluetooth img{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#footer {
    position: sticky;
    bottom: 0;
    display: flex;
    height: 48px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: rgb(215, 215, 215);
    flex-shrink: 0;
    float: left;
}

#footer p {
    margin-left: 24px;
}

.foot_right{
    margin-top: 12px;
    margin-left: auto;
}

.foot_right a {
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: rgb(215, 215, 215);
    margin-right: 24px;
    margin-left: 8px;
}

.foot_right a img {
    height: 20px;
}


@media only screen and (max-width: 1000px) {
    #main {
        display: grid;
        grid-template-columns: 1fr;
    }

    #left_side {
        display: none;
    }

    #right_side {
        width: 100%;
    }
}