body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#left_side a:hover {
    filter: invert(0.5);
}

#footer a img:hover {
    filter: invert(0.3);
}

#nav {
    display: flex;
    top: 0;
    list-style-type: none;
    background-color: rgb(60, 35, 252);
    height: 48px;
    box-shadow: 3px 3px 10px gray;
}

#nav a {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 14px 0;
}

#nav #icon {
    margin: 16px 0 16px 64px;
    padding: 0;
}

#nav #img {
    margin: 12px 12px 12px 24px;
    padding: 0;
    width: 30px;
}

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-left: 64px;
    margin-right: 64px;
    gap: 50px;  
    overflow: hidden;
}

#left_side {
    top: 0;
    margin-top: 36px;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    position: sticky;   
}

#left_side a {
    margin-bottom: 12px;
    text-decoration: none;
    color: black;
}

#left_side a#tut1 {
    font-weight: bold;
}

#right_side {
    display: inline-flex;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 32px;
    flex-direction: column;
    min-height: 0;
}

#right_side #tutorial1 {
    overflow-y: auto;
    overflow-x: hidden;
}

#right_side #title {
    display: grid; 
    align-items: center;
    grid-template-columns: 4fr 1fr;
}

#right_side #title button {
    float: right;
    background-color: #e7e7e7; 
    color: black;
    border: none;
    padding: 20px 20px 20px 20px;
}

#right_side #title button:hover {
    background-color: #36353543; 
    color: black;
    cursor: pointer;
}

#right_side h2 {
    text-decoration-line: underline;
}

#right_side p {
    font-size: 32px;
    font-weight: normal;
}

#right_side #desc{
    font-size: 18px;
}

#right_side #sub {
    font-size: 20px;
    text-decoration: underline;
}

#right_side #sub_bold {
    font-size: 20px;
    font-weight: bold;
}

#right_side #code {
    background-color: lightgray;
    padding: 20px;
    font-size: 16px;
}

#right_side #components {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-items: center;
}

#right_side ol li{
    font-size: 18px;
    padding: 10px 10px 10px 10px;
}

#right_side ul li{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

#right_side tr img {
    object-fit: contain;
    min-width: 30%;
    max-width: 75%;
    max-height: 75%;
    display: block; 
    margin: auto;
}

#right_side td, #right_side th {
    width: 50%;
}

#driver th, #driver td {
    width: 33%;
    padding: 10px;
}

#right_side #pins li{
    font-weight: normal;
}

#right_side table, #right_side td, #right_side th {
    border: 1px solid black;
    border-collapse: collapse;
}

#right_side table {
    width: 100%;
}

#right_side #caption {
    display: block; 
    text-align: center;
    margin: 10px 0 10px 0;
}

#right_side #wel, #right_side #tutorial2 {
    display: none;
}


#right_side #esp, #esp td{
    border-collapse: collapse;
    border: none;
}

#right_side #esp img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#right_side #bluetooth {
    border-collapse: collapse;
    border: none;
}

#right_side #bluetooth td {
    width: 20%;
    border-collapse: collapse;
    border: none;
}

#right_side #bluetooth img{
    margin: 0 auto;
    height: 75%;
    width: 75%;
}

#footer {
    position: sticky;
    bottom: 0;
    display: flex;
    height: 48px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: rgb(215, 215, 215);
    flex-shrink: 0;
    float: left;
}

#footer p {
    margin-left: 24px;
}

.foot_right{
    margin-top: 12px;
    margin-left: auto;
}

.foot_right a {
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: rgb(215, 215, 215);
    margin-right: 24px;
    margin-left: 8px;
}

.foot_right a img {
    height: 20px;
}

@media only screen and (max-width: 1000px) {
    #main {
        grid-template-columns: 1fr;
    }
    
    #left_side {
        display: none;
    }

    #footer p {
        margin-left: 16px;
    }

    .foot_right a {
        align-items: center;
        vertical-align: middle;
        text-decoration: none;
        color: rgb(215, 215, 215);
        margin-right: 16px;
        margin-left: 8px;
    }

    #nav {
        display: flex;
        list-style-type: none;
        background-color: rgb(60, 35, 252);
        width: 100%;
        height: 48px;
        box-shadow: 3px 3px 10px gray;
    }

    #nav a {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        text-decoration: none;
        color: white;
        padding: 14px 0;
    }

    #nav #icon {
        margin: 16px 0 16px 24px;
        padding: 0;
    }

    #nav #img {
        margin: 12px 12px 12px 24px;
        padding: 0;
        width: 30px;
    }

    #right_side #bluetooth td {
        width: 100%;
        border-collapse: collapse;
        border: none;
    }

    #right_side td, #right_side th {
        width: 100%;
        display: block; 
    }
}

@media only screen and (max-width: 750px) {
    #main {
        grid-template-columns: 1fr;
    }
    
    #left_side {
        display: none;
    }

    #right_side tr img {
        max-width: 90%; 
        max-height: unset;
        margin: 10px auto;
    }
    
    #right_side #components {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #right_side #bluetooth td {
        width: 100%;
        border-collapse: collapse;
        border: none;
    }

    #main {
        margin-left: 20px; 
        margin-right: 20px; 
    }

    #footer p {
        margin-left: 16px;
    }

    .foot_right a {
        align-items: center;
        vertical-align: middle;
        text-decoration: none;
        color: rgb(215, 215, 215);
        margin-right: 16px;
        margin-left: 8px;
    }

    #nav {
        display: flex;
        list-style-type: none;
        background-color: rgb(60, 35, 252);
        width: 100%;
        height: 48px;
        box-shadow: 3px 3px 10px gray;
    }

    #nav a {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        text-decoration: none;
        color: white;
        padding: 14px 0;
    }

    #nav #icon {
        margin: 16px 0 16px 24px;
        padding: 0;
    }

    #nav #img {
        margin: 12px 12px 12px 24px;
        padding: 0;
        width: 30px;
    }

    #right_side #bluetooth img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    #main {
        margin-left: 10px;
        margin-right: 10px;
        gap: 20px; 
    }

    #right_side p {
        font-size: 24px; 
    }

    #right_side #title {
        grid-template-columns: 1fr; 
        gap: 5px;
        margin-bottom: 10px;
    }

    #right_side #title button {
        float: none;
        width: 100%;
        box-sizing: border-box; 
        padding: 10px; 
    }
    
    #nav a {
        padding: 14px 4px; 
        font-size: 16px; 
    }

    #nav #icon {
        margin: 16px 0 16px 10px; 
    }

    #nav #img {
        margin: 12px 6px 12px 10px; 
    }
    
    #right_side ol li {
        padding: 5px; 
    }

    #footer {
        height: auto; 
        flex-direction: column;
        padding: 0;
    }

    #footer p {
        margin-top: 15px;
        margin-left: 0;
        text-align: center;
    }

    .foot_right {
        margin: 0 auto; 
        padding-bottom: 10px;
    }
}
