body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#nav {
    display: flex;
    list-style-type: none;
    background-color: rgb(60, 35, 252);
    width: 100%;
    height: 48px;
}

#nav a {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 14px 0;
}

#nav #img {
    margin: 12px;
    padding: 0 24px;
}

#main {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

#left_side {
    margin-top: 48px;
    margin-left: 36px;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    width: 15%;
}

#left_side a {
    margin-bottom: 12px;
}

#right_side {
    width: 85%;
    display: inline-flex;
    padding: 0;
    margin-top: 8px;
    flex-direction: column;
}

#right_side #right_desc {
    font-weight: 400;
    font-size: 18px;
}

#right_side p {
    font-weight: 500;
    font-size: 32px;
}

#footer {
    display: flex;
    position: absolute;
    height: 48px;
    width: 100%;
    bottom: 0;
    background-color: rgb(36, 36, 36);
    color: rgb(215, 215, 215);
    float: left;
}

#footer p {
    margin-left: 16px;
}

.foot_right{
    margin-left: auto;
    margin-right: 16px;
    padding: 14px 0;
}

.foot_right a {
    text-decoration: none;
    color: rgb(215, 215, 215);

}