body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#left_side a:hover {
    filter: invert(0.5);
}

#footer a img:hover {
    filter: invert(0.3);
}

#nav {
    display: flex;
    list-style-type: none;
    background-color: rgb(60, 35, 252);
    width: 100%;
    height: 48px;
    box-shadow: 3px 3px 10px gray;
}

#nav a {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 14px 0;
}

#nav #img {
    margin: 12px;
    padding: 0 24px;
}

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-left: 36px;
    margin-right: 36px;
    gap: 60px;  
}

#left_side {
    margin-top: 48px;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
}

#left_side a {
    margin-bottom: 12px;
    text-decoration: none;
    color: black;
}

#left_side a#wel {
    font-weight: bold;
}

#right_side {
    display: inline-flex;
    padding: 0;
    margin-top: 8px;
    flex-direction: column;
}

#right_side #right_desc {
    font-weight: 400;
    font-size: 18px;
}

#right_side #welcome {
    display: block;
}

#right_side p {
    font-weight: 500;
    font-size: 32px;
}

#right_side #tutorial1, #right_side #tutorial2 {
    display: none;
}

#footer {
    display: flex;
    position: absolute;
    height: 48px;
    width: 100%;
    bottom: 0;
    background-color: rgb(36, 36, 36);
    color: rgb(215, 215, 215);
    float: left;
}

#footer p {
    margin-left: 24px;
}

.foot_right{
    margin-top: 12px;
    margin-left: auto;
}

.foot_right a {
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: rgb(215, 215, 215);
    margin-right: 24px;
    margin-left: 8px;
}

.foot_right a img {
    height: 20px;
}


@media only screen and (max-width: 1000px) {
    #main {
        display: grid;
        grid-template-columns: 1fr;
    }

    #left_side {
        display: none;
    }

    #right_side {
        width: 100%;
    }
}